<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="index-list">
          <ion-list-header>Scriptures</ion-list-header>
            <ion-note>Main Scriptures to master</ion-note>
          @for (scripture of scripturePages; track scripture) {
            <ion-menu-toggle auto-hide="false">
              <ion-item routerDirection="root" [routerLink]="[scripture.url]" lines="none" detail="false" routerLinkActive="selected">
                @if (scripture.image) {
                  <img [src]="scripture.image" [alt]="scripture.title" slot="start" class="scripture-image" />
                } @else {
                  <ion-icon aria-hidden="true" slot="start" [ios]="scripture.icon + '-outline'" [md]="scripture.icon + '-sharp'"></ion-icon>
                }
                <ion-label>{{ scripture.title }}</ion-label>
              </ion-item>
            </ion-menu-toggle>
          }
        </ion-list>

          <ion-list id="inbox-list">
            <ion-list-header>Sadhana Practices</ion-list-header>
            <ion-note>Regular Practice Methods</ion-note>
          
            @for (sadhana of sadhanaPages; track sadhana; let i = $index) {
            <ion-menu-toggle auto-hide="false">
              <ion-item routerDirection="root" [routerLink]="[sadhana.url]" lines="none" detail="false"
                routerLinkActive="selected">
                <ion-icon aria-hidden="true" slot="start" [ios]="sadhana.icon + '-outline'"
                  [md]="sadhana.icon + '-sharp'"></ion-icon>
                <ion-label>{{ sadhana.title }}</ion-label>
              </ion-item>
            </ion-menu-toggle>
            }
          </ion-list>

        <ion-list id="inbox-list">
          <ion-list-header>Memorization Techniques</ion-list-header>
          <ion-note>Traditional Vedic Methods</ion-note>

          @for (p of appPages; track p; let i = $index) {
            <ion-menu-toggle auto-hide="false">
              <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
                <ion-icon aria-hidden="true" slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
                <ion-label>{{ p.title }}</ion-label>
              </ion-item>
            </ion-menu-toggle>
          }
        </ion-list>

      

        
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
